<div class="login">
    <form class="form-signin w-100 m-auto">
        <img class="mb-4 mx-auto d-block" src="assets/img/logo.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="user.email" name="email">
          <label for="floatingInput" >Correo Electronico</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password"  [(ngModel)]="user.password" name="password">
          <label for="floatingPassword">Contraseña</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" [(ngModel)]="remerber" name="remerber"> Recordarme
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()" [disabled]="user.email === '' || user.password === ''">Iniciar Sesión</button>
      </form>
</div>